Contract/target
Contract/res
Contract/Cargo.lock
/.vscode

# dependencies
frontend/node_modules
frontend/*.pnp
frontend/*.pnp.js


# testing
next_frontend/coverage

# next.js
next_frontend/.next/
next_frontend/out/

# production
frontend/build

# misc
next_frontend/.DS_Store
next_frontend/.env.local
next_frontend/.env.development.local
next_frontend/.env.test.local
next_frontend/.env.production.local
next_frontend/*.pem

next_frontend/npm-debug.log*
next_frontend/yarn-debug.log*
next_frontend/yarn-error.log*

next_frontend/.vercel

