#This git ignore is for the entire project frontend and backend.

# Rust
Contract/target
Contract/res
Contract/Cargo.lock

# user vscode settings
/.vscode

# dependencies
frontend/node_modules
frontend/*.pnp
frontend/*.pnp.js

# testing
next_frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production
frontend/*.pem

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.vercel

